
<h1>Physician Dashboard</h1>

<table>
  <thead>
    <tr>
      <p><%= "Hello, Dr. #{current_doctor.name}" %>
          <%= link_to "Make an Appointment", appointment_path %>
</p>
<p>Welcome back!</p>
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h1>Virtual Visit</h1>
    <img src="/virtualvisitlogo00.png" alt="virtual visit logo">
    <%# image_tag("/images/virtualvisitlogo.png") %>
    <nav>
    </head>
