<table>
  <thead>
    <tr>
      <%= link_to "Make an Appointment", new_appointment_path %>
      <p><%= "Hello, #{current_user.name}" %>
        <%= link_to "Edit Profile", edit_user_path %>
</p>


    </tr>
  </thead>

  <body>
  <p>
    <i class="large material-icons">video_call</i>
  </p>
          <iframe src="https://tokbox.com/embed/embed/ot-embed.js?embedId=51e6171d-9d47-4c82-ae87-35a53a8c3a68&room=DEFAULT_ROOM&iframe=true" width="600px" height="500px" allow="microphone; camera" ></iframe>

  </body>
</table>

<br>
