<h3><%= "Here's the current waiting list, Dr. #{current_doctor.name}" %></h3>
<% @appointments.sort_by(&:created_at).each do |appointment| %>
  <p>Name: <%= appointment.name  %>
  <%= link_to "Accept Appointment", edit_appointment_path(appointment.id) %></p>

<% end %>
