<h1> hello <h1>
<% @appointments.sort_by(&:created_at).each do |appointment| %>
  <p>Name: <%= appointment.name  %></p>
  <%= link_to "accept appointment", edit_appointment_path(current_doctor) %>

<% end %>
